beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
coloredlogs==15.0
funcy==1.15
humanfriendly==9.1
idna==2.10
numpy==1.19.5
pandas==1.1.5
pkg-resources==0.0.0
psycopg2==2.8.6
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
schedule==1.1.0
six==1.15.0
soupsieve==2.2.1
-e git+git@github.com:elsehow/taaraxtak.git@f064d4ea4e37b61bda11640372f8c8a3fc60de1b#egg=taaraxtak
urllib3==1.26.4
